---
import Layout from "../layouts/Layout.astro";
import ArticlePreviewLayout from "../features/ArticlePreview/ArticlePreviewLayout.vue";
import { TagLayout } from "../features/TagLayout";
import FeedNavigation from "../features/FeedNavigation/FeedNavigation.svelte";
---

<Layout title="RealWorld Astro ver">
  <div class="home-page">
    <div class="banner">
      <div class="container">
        <h1 class="logo-font">conduit</h1>
        <p>A place to share your knowledge.</p>
      </div>
    </div>

    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <FeedNavigation client:only="svelte" />
          <ArticlePreviewLayout client:only="vue" />
        </div>

        <div class="col-md-3">
          <div class="sidebar">
            <p>Popular Tags</p>
            <TagLayout client:only="react" />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
