---
import Layout from '../layouts/Layout.astro';
import ErrorBoundary from '../components/ErrorBoundary';
import { LoginForm } from '../features/LoginContent/LoginForm';
---

<Layout title="RealWorld Astro ver | Login">

  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <ErrorBoundary>
          <LoginForm client:only="react" />
        </ErrorBoundary>
      </div>
    </div>
  </div>
</Layout>